@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --header-color: rgba(150, 58, 58, 0.8);

  --card-width: 350px;
  --card-height: 350px;

  --level-one: translateZ(2rem);
  --level-two: translateZ(3rem);
  --level-three: translateZ(4rem);
}

body {
  background-color: rgba(0, 0, 0, 0.9);
  font-family: "Poppins", sans-serif;
  max-width: 100vw;
}
